@import '../../../assets/scss/paper-kit/variables';

.page-header-image{
    background-image: url('../../../assets/img/sections/landing/yld-landing-background.jpg');
    background-position: center;
}
.filter {
    &::after{
        opacity: 0.2;
    }
}

.yld-landing-header-title {
    font-size: 400%;
    font-weight: bolder;
    color: $white-color;
    text-shadow: $black-color 2px 3px 2px;
    margin-top: 2em;
}

.yld-landing-logo{
    width: 80%;
    padding: 2em;
}

.yld-landing-header-description {
    font-size: 300%;
    font-weight: bolder;
    color: $white-color;
    text-shadow: $black-color 2px 3px 2px;
    margin-bottom: 1.5em;
    padding: 0;
}
.yld-landing-header-btn {
    color: $black-hr;
    border-color: $yld-color-primary;
    background-color: $yld-color-secondary;
    font-size: 1.1em;
    line-height: 2em;
    width: 200px;
    margin: 0 1em 2em 1em;
    &:hover {
        background-color: $yld-color-primary !important;
        border-color: $yld-color-primary !important;
    }
}

.yld-landing-title {
    color: $yld-color-primary;
    font-weight: bolder;
    margin: 1em auto;
}
.yld-landing-grey-background {
    background-color: rgba($light-gray, 0.2);
}
.yld-landing-description {
    font-weight: bolder;
    line-height: 1.5em;
    color: $black-hr;
    margin-bottom: 2em;
}

.yld-landing-info-title {
    font-weight: bold;
    color: $yld-color-secondary;
}
.yld-landing-info-description {
    color: $font-color;
    font-weight: bolder;
}
.yld-landing-header-btn-message {
    border-color: $yld-color-primary;
    font-size: 1em;
    width: 200px;
    margin-top: 1.5em;
    color: $yld-color-primary;
    &:hover {
        background-color: $yld-color-primary !important;
    }
}

.nc-icon {
    color: $yld-color-primary;
}

.yld-landing-bottom-logo {
    margin-top: 3em;
}
.yld-landing-bottom-image {
    background: url('../../../assets/img/sections/landing/yld-landing-background-footer.jpg') no-repeat fixed center; 
    height: 95vh;
}
.yld-landing-form-group {
    padding: 3em;
}
.yld-landing-form-control {
    width: 300px;
    height: 50px;
    margin: 0 auto 1em auto;
}
