@import '../../../assets/scss/paper-kit/variables';

.page-header-image{
    background-image: url('../../../assets/img/sections/landing/yld-landing-background.jpg');
    background-position: center;
}
.filter {
    &::after{
        opacity: 0.2;
    }
}

.yld-landing-header-title {
    font-size: 400%;
    font-weight: bolder;
    color: $white-color;
    text-shadow: $black-color 2px 1px 3px;
    margin-top: 2em;
}

.yld-landing-logo{
    width: 80%;
    padding: 2em;
}

.yld-landing-header-description {
    font-size: 300%;
    font-weight: bolder;
    color: $white-color;
    text-shadow: $black-color 2px 1px 3px;
    margin-bottom: 1.5em;
    padding: 0;
}

.yld-landing-header-btn {
    color: $white-color;
    border-color: $white-color;
    background-color: $yld-color-primary;
    font-size: 1.4em;
    line-height: 3em;
    width: 300px;
    margin: 0 1em 2em 1em;
    border-radius: 8px;
    &:hover {
        background-color: $yld-color-secondary !important;
        border-color: $white-color !important;
        color: $white-color !important;
    }
}

.yld-landing-title {
    color: $yld-color-primary;
    font-weight: bolder;
    margin: 1em auto;
}

.yld-landing-grey-background {
    background-color: rgba($light-gray, 0.2);
}

.yld-landing-description {
    font-family: $font-family-serif;
    font-weight: bolder;
    line-height: 1.5em;
    color: $black-hr;
    margin-bottom: 2em;
}

.yld-landing-card {
    padding: 1em;
    min-height: 280px;
}

.yld-landing-team-description {
    font-family: $font-family-serif;
    padding: 0;
}

.yld-landing-info-title {
    font-weight: bold;
    color: $yld-color-secondary;
}
.yld-landing-info-description {
    font-family: $font-family-serif;
    color: $font-color;
    font-weight: bolder;
}

.nc-icon {
    color: $yld-color-primary;
}

.yld-landing-bottom-logo {
    margin-top: 3em;
}
.yld-landing-bottom-image {
    background: url('../../../assets/img/sections/landing/yld-landing-background-footer.jpg') no-repeat fixed center; 
    height: 95vh;
}
.yld-landing-form-group {
    padding: 3em;
}
.yld-invalid-input {
    color: red;
    border: 2px solid red;
    box-sizing: border-box;
}

.yld-landing-form-control {
    width: 300px;
    height: 50px;
    margin: 0 auto 1em auto;
}
