<div class="page-header">
<div class="page-header-image rellax-header" data-rellax-speed="-7">
</div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="motto">
                <h1 class="title yld-landing-header-title">Наповнюй життя подіями!</h1>
                <img src="./assets/img/sections/landing/logo.png" alt="Yalldoo!" class="yld-landing-logo"/>
                <h2 class="yld-landing-header-description">
                    Знайди собі компанію!
                    <br />
                    Дізнайся, що роблять люди навколо!
                </h2>
                <a href="#" class="btn yld-landing-header-btn" role="button" [routerLink]="['/register']">Приєднатись</a>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <button
        class="btn btn-primary btn-just-icon btn-lg yld-landing-btt d-none"
    >
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </button>
    <div class="section section-gray text-center landing-section js-yld-anchor-about">
        <div class="container">
                <h1 class="title yld-landing-title">Приєднуйся до цікавих подій, або створюй свої!</h1>
                <h3 class="yld-landing-description">
                    З нами ти зможеш робити цікаві речі з цікавими тобі людьми. <br />
                    Знайди собі компанію для будь чого! <br />
                    Подивись, що роблять інші люди - та приєднуйся!
                </h3>
            <br /><br />
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="info card yld-landing-card">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-user-run"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title yld-landing-info-title">Спорт</h4>
                            <p class="yld-landing-info-description">Не вистачає людей, що б зіграти в футбол? Створи подію в <strong>Y'alldoo!</strong> Інші побачать та приєднаються.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="info card yld-landing-card">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bus-front-12"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title yld-landing-info-title">Подорожі</h4>
                            <p class="yld-landing-info-description">Приїхав в інше місто чи країну. Заходь в <strong>Y'alldoo!</strong> та знайди події реальных людей. Подивись місцеве життя із середини.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="info card yld-landing-card">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-shop"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title yld-landing-info-title">Бар чи шопінг</h4>
                            <p class="yld-landing-info-description">Створи подію в <strong>Y'alldoo!</strong> Знайди з ким піти на каву, пиво, шопінг чи інше!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="info card yld-landing-card">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title yld-landing-info-title">Не знаєш, чим зайнятись?</h4>
                            <p class="yld-landing-info-description">Подивись в <strong>Y'alldoo</strong>, що роблять твої друзі, і обирай, до кого приєднатись!</p>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="title yld-landing-title">Наша мета: </h2> 
            <h3 class="yld-landing-description">
                Дати можливість людям у будь-якій точці світу створювати та знаходити події на будь-який смак.
            </h3>
        </div>
    </div>

    <div class="section section-dark text-center landing-section js-yld-anchor-team">
        <div class="container">
            <h2 class="title">Наша команда</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                        </div>
                        <div class="card-body">
                            <a href="javascript:void(0)">
                                <div class="author">
                                    <h4 class="card-title">Henry Ford</h4>
                                </div>
                            </a>
                            <p class="card-description text-center yld-landing-team-description">
                            Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="javascript:void(0)" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="javascript:void(0)" class="btn btn-link btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a>
                            <a href="javascript:void(0)" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                        </div>
                        <div class="card-body">
                            <a href="javascript:void(0)">
                                <div class="author">
                                    <h4 class="card-title">Robert Orben</h4>
                                </div>
                            </a>
                            <p class="card-description text-center yld-landing-team-description">
                            The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="javascript:void(0)" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="javascript:void(0)" class="btn btn-link btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a>
                            <a href="javascript:void(0)" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-gray js-yld-anchor-contact_us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Get in touch with us</h2>
                    <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualise customer directed convergence without revolutionary ROI.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h3 class="title"><small>Find us on social networks</small></h3>
                    <button class="btn btn-just-icon btn-twitter mr-1">
                        <i class="fa fa-twitter"></i>
                    </button>
                    <button class="btn btn-just-icon btn-facebook mr-1">
                        <i class="fa fa-facebook"></i>
                    </button>
                    <button class="btn btn-just-icon btn-google mr-1">
                        <i class="fa fa-google"></i>
                    </button>
                    <button class="btn btn-just-icon btn-dribbble mr-1">
                        <i class="fa fa-dribbble"></i>
                    </button>
                    <button class="btn btn-just-icon btn-instagram mr-1">
                        <i class="fa fa-instagram"></i>
                    </button>
                    <button class="btn btn-just-icon btn-youtube">
                        <i class="fa fa-youtube"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h3 class="title"><small>Or drop us a note</small></h3>
                    <form [formGroup]="form" class="contact" #contactUsForm (submit)="formSubmit($event)">
                        <div class="row">
                            <div class="col-md-6">
                                <input
                                    type="text"
                                    class="form-control mt-3"
                                    [ngClass]="{ 'form-control-danger': isInvalid(form.get('name')) }"
                                    placeholder="Name"
                                    formControlName="name"
                                />
                                <app-control-messages title="Name" [control]="form.get('name')"></app-control-messages>
                            </div>
                            <div class="col-md-6">
                                <input
                                    type="text"
                                    class="form-control mt-3"
                                    placeholder="Email"
                                    formControlName="email"
                                    [ngClass]="{ 'form-control-danger': isInvalid(form.get('email')) }"
                                />
                                <app-control-messages title="Email" [control]="form.get('email')"></app-control-messages>
                            </div>
                        </div>

                        <input
                            type="text"
                            class="form-control mt-3"
                            [ngClass]="{'form-control-danger': isInvalid(form.get('subject')) }"
                            placeholder="Subject"
                            formControlName="subject"
                        />
                        <app-control-messages title="Subject" [control]="form.get('subject')"></app-control-messages>
                        <textarea 
                            class="form-control mt-3"
                            [ngClass]="{'form-control-danger': isInvalid(form.get('message')) }"
                            placeholder="Message" 
                            rows="7"
                            formControlName="message" >
                        </textarea>
                        <app-control-messages title="Message" [control]="form.get('message')"></app-control-messages>

                        <div class="row">
                            <div class="col-md-6 ml-auto mr-auto">
                                <button type="submit" class="btn btn-primary btn-block btn-round mt-2" [disabled]="form.invalid">Send </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-dark text-center landing-section yld-landing-bottom-image">
        <div class="container">
            <img src="./assets/img/sections/landing/logo.png" alt="Yalldoo!" class="yld-landing-logo yld-landing-bottom-logo"/>
            <h1 class="title yld-landing-bottom-title">Пірнай у вир подій!</h1>
            <a href="#" class="btn btn-outline-neutral btn-round yld-landing-header-btn" role="button" [routerLink]="['/register']">Приєднатись</a>
        </div>
    </div>
</div>
