.yld-event-container {
    h4{
        margin-bottom: 8px;
    }
    .yld-event-header-container {
        
        padding: 8px;
        border-radius: 24px;
    }

    .yld-event-avatar {
        img {
            height: 120px;
            width: 120px;
        }
    }

    .yld-event-title {
        .yld-event-title-category {
            width: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1em;
            i {
                margin-right: 0.5em;
                font-size: 2em;
            }
        }
    }
    .yld-event-date-time-container {
        h5{
            margin-right: 20px;
        }
       i{
           margin-right: 4px;
       }
    }

    .yld-event-address-container {
        i {
            margin-right: 0.7em;
        }
    }
}
