<div class="yld-page">
    <div class="container">
        <div class="row" *ngIf="selectedEvent$ | async as event">
            <div class="col-sm-11 col-xs-11 col-md-10 ml-auto mr-auto yld-event-container card no-transition">
                <div
                    class="yld-event-image-container d-flex justify-content-between" 
                    style="background-image: url('./assets/img/sections/roger-keller.jpg')"
                >
                    <div class="block left-align">
                        <button type="button" class="btn btn-move-left btn-round" (click)="goBack()">
                            <i class="nc-icon nc-minimal-left"></i>
                        </button>
                    </div>
                     
                    <div class="block right-align">
                        <button type="button" class="btn btn-move-top btn-round" [routerLink]="['/event-edit', event.id]" routerLinkActive="router-link-active">
                            <i class="fa fa-edit fa-2x"></i>
                        </button>
                    </div>
                </div>
                <div class="yld-event-actions-container">
                    <div class="yld-event-title-category badge-success">
                        <div class="row">
                            <span class="col-sm-7 col-8"
                                ><i class="fa fa-2x mr-5 {{ getIcon() }}"></i>{{ event.category }}</span
                            >
                            <div class="d-flex justify-content-between align-self-end col-4 col-sm-5">
                                <button class="btn btn-just-icon btn-google">
                                    <i class="fa fa-3x fa-heart" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-just-icon btn-info">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-just-icon btn-danger">
                                    <i class="fa fa-2x fa-remove" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <app-select-dropdown
                        [items]="actionItems"
                        [title]="'Actions'"
                        [style]="'default'"
                        [buttonIcon]="'gear'"
                        [withBorder]="true"
                        (onItemSelected)="onActionSelect($event)"
                    ></app-select-dropdown>
                </div>
                <div class="yld-event-header-container">
                    <div class="row">
                        <div class="col-4 yld-event-avatar">
                            <img
                                *ngIf="!event.image"
                                src="assets/img/avatar-event.jpg"
                                class="img-rounded img-responsive"
                            />
                            <img *ngIf="event.image" src="{{ event.image }}" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-8 yld-event-title">
                            <h2>{{ event.title }}</h2>
                        </div>
                    </div>

                    <div class="yld-event-creator-avatar d-flex flex-row justify-content-start align-items-center">
                        <img
                            class="img-circle img-no-padding img-responsive"
                            src="assets/img/faces/clem-onojeghuo-2.jpg"
                            alt="..."
                        />
                        <h5>Event Creator</h5>
                    </div>
                </div>
                <div class="yld-event-description">
                    <h5>About</h5>
                    <p>
                        {{ event.description }}
                    </p>
                </div>
                <hr />
                <div class="yld-event-date-time-container">
                    <h5>Date And Time</h5>
                    <div class="d-flex flex-row">
                        <h5 class="title-uppercase mr-2">
                            <i class="fa fa-clock-o"></i> {{ event.startDate | date: "HH:mm" }}
                        </h5>
                        <h5 class="title-uppercase">
                            <i class="fa fa-calendar-o"></i> {{ event.startDate | date: "dd MMM yyyy" }}
                        </h5>
                    </div>
                </div>
                <hr />
                <div class="yld-event-address-container">
                    <h5>Address</h5>
                    <h5 class="title-uppercase"><i class="fa fa-map-marker"></i>{{ event.location.address }}</h5>
                </div>
                <hr />
                <div class="yld-event-participants-container">
                    <h5>Participants</h5>
                    <div class="yld-list-item-avatar-user-list">
                        <span class="yld-list-item-avatar-user"
                            ><img
                                src="assets/img/faces/kaci-baum-2.jpg"
                                alt="..."
                                ngbPopover="Friend Name 1"
                                placement="top"
                        /></span>
                        <span class="yld-list-item-avatar-user"
                            ><img
                                src="assets/img/faces/clem-onojeghuo-3.jpg"
                                ngbPopover="Friend Name 2"
                                placement="top"
                                alt="..."
                        /></span>
                        <span class="yld-list-item-avatar-user"
                            ><img
                                src="assets/img/faces/erik-lucatero-2.jpg"
                                ngbPopover="Friend Name 3"
                                placement="top"
                                alt="..."
                        /></span>
                        <span class="yld-list-item-avatar-user"
                            ><img
                                src="assets/img/faces/joe-gardner-2.jpg"
                                ngbPopover="Friend Name 4"
                                placement="top"
                                alt="..."
                        /></span>
                        <button class="btn btn-default btn-link">&nbsp;18</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
