    <div class="container">
        <div class="row" *ngIf="!isConfirmed">
            <div class="col-lg-5 col-md-7 col-sm-9 ml-auto mr-auto">
                <div class="yld-register_card">
                    <h3 class="card-title">Password Recovery</h3>
                    <div class="line-brake"></div>
                    <div class="yld-info"><p>Please, enter your email to get a link for password recovery</p></div>
                    <form [formGroup]="form" class="yld-register_form" (submit)="onSubmit()">
                        <input
                            type="email"
                            class="form-control no-border"
                            placeholder="Email"
                            formControlName="email"
                        />
                        <app-control-messages title="Email" [control]="form.get('email')"></app-control-messages>
                        <button class="btn btn-block btn-round" type="submit" [disabled]="form.invalid">
                            Send Email
                        </button>
                    </form>

                    <div class="login">
                        <p>
                            Already have an account?
                            <a [routerLink]="['/login']" routerLinkActive="login">Log in</a>.
                        </p>
                    </div>
                    <div class="login">
                        <p>
                            Do you want to create a new account?
                            <a [routerLink]="['/register']" routerLinkActive="login">Register</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="isConfirmed">
            <div class="col-lg-5 col-md-7 col-sm-9 ml-auto mr-auto">
                <div class="card card-register">
                    <h3 class="card-title">Password Recovery</h3>
                    <div class="line-brake"></div>
                    <div class="yld-info-confirmed">
                        <p>Please, check your mail box.</p>
                        <p>Email with recovery information was sent.</p>
                        <div class="login">
                            <p>
                                <a [routerLink]="['/login']" routerLinkActive="login">Log in</a>
                            </p>
                        </div>
                        <div class="login">
                            <p>
                                <a [routerLink]="['/register']" routerLinkActive="login">Register</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
