<footer class="footer footer-black p-2">
    <div class="container">
        <div class="row follow-section">
            <div class="col-3">
                <label>Your Account</label>
                <div class="list-group">
                    <a [routerLink]="['/register']" class="link-info" routerLinkActive="router-link-active">Sign up</a>
                    <a [routerLink]="['/login']" class="link-info" routerLinkActive="router-link-active">Login</a>
                </div>
            </div>
            <div class="col-6">
                <label>Follow Us</label>
                <div class="list-group-horizontal-lg">
                    <a href="https://facebook.com/Yalldoo" class="btn btn-just-icon btn-facebook mr-4" target="blank"
                        ><i class="fa fa-facebook"></i>
                    </a>
                    <a
                        href="https://www.instagram.com/yalldoo"
                        class="btn btn-just-icon btn-instagram"
                        routerLinkActive="router-link-active"
                        ><i class="fa fa-instagram"></i
                    ></a>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <label><i class="fa fa-copyright" aria-hidden="true"></i> {{ currentYear }} Yalldoo</label>
            </div>
            <div class="col-6 d-flex justify-content-between">
                <a [routerLink]="['/use-terms']" routerLinkActive="router-link-active"
                    >Terms of Service</a
                >
                <a [routerLink]="['/privacy-policy']" routerLinkActive="router-link-active"
                    >Privacy Policy</a
                >
                <a [routerLink]="['/cookies-policy']" routerLinkActive="router-link-active"
                    >Cookies Policy</a
                >
                <a [routerLink]="['/help']" class="ml-3" routerLinkActive="router-link-active"
                >Help</a>
            </div>
        </div>
    </div>
</footer>
