.footer {
    padding-top: px;
    .follow-section {
        border-bottom: 1px solid #fff;
        label {
            margin: 0;
        }
    }

    .list-group {
        a {
            margin: 0;
        }
    }
    a {
        color: #fff;
    }
}
