<hr>
<div class="row yld-friends-list-item-container">
    <div class="col-md-3 yld-friends-list-item-avatar">
        <!-- <img *ngIf="friend.image" class="yld-friends-list-item-avatar img-rounded" src="{{friend.image}}" alt="..."/> -->
        <!-- <img *ngIf="!friend.image" class="yld-friends-list-item-avatar img-rounded" src="../../../../assets/img/friends/avatar-event.jpg" alt="..."/> -->
        <img class="yld-friends-list-item-avatar-img img-rounded" src="../../../../assets/img/friends/friend-img.jpg" alt="..."/>
        <div class="yld-friends-list-item-buttons-container">
            <a href="javascript:void(0)" class="btn btn-just-icon btn-border btn-facebook yld-friends-list-item-button" placement="bottom" ngbTooltip="Follow"><i class="fa fa-eye" aria-hidden="true"></i></a>
            <a href="javascript:void(0)" class="btn btn-just-icon btn-border btn-youtube yld-friends-list-item-button" placement="bottom" ngbTooltip="Message"><i class="fa fa-commenting-o" aria-hidden="true"></i></a>
            <a href="javascript:void(0)" class="btn btn-just-icon btn-border btn-outline-success yld-friends-list-item-button" placement="bottom" ngbTooltip="Add to event"><i class="nc-icon nc-simple-add" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="col-md-6">
        <!-- <a [routerLink]="['/event', event.id]"><h3>  {{friend.title}}</h3></a> -->
        <a><h3 class="yld-friends-list-item-name">Britney Spears</h3></a>
        <p class="yld-friends-list-item-description">I love singing! Let's go to karaoke together!</p>
            <p class="yld-friends-list-item-data-item">
                <i class="fa fa-map-marker yld-friends-list-item-data-icon" aria-hidden="true"></i>
                <a href="">Ukraine, Chernihiv</a>
            </p>
            <div class="yld-friends-list-item-preferences">
                <i class="yld-friends-list-item-preferences-item fa fa-futbol-o fa-2x" aria-hidden="true" placement="bottom" ngbTooltip="Football"></i>
                <i class="yld-friends-list-item-preferences-item fa fa-bicycle fa-2x" aria-hidden="true" placement="bottom" ngbTooltip="Bicycle"></i>
                <i class="yld-friends-list-item-preferences-item fa fa-gamepad fa-2x" aria-hidden="true" placement="bottom" ngbTooltip="Gaming"></i>
                <i class="yld-friends-list-item-preferences-item fa fa-globe fa-2x" aria-hidden="true" placement="bottom" ngbTooltip="Travelling"></i>
                <i class="yld-friends-list-item-preferences-item fa fa-beer fa-2x" aria-hidden="true" placement="bottom" ngbTooltip="Beer"></i>
                <i class="yld-friends-list-item-preferences-item fa fa-paw fa-2x" aria-hidden="true" placement="bottom" ngbTooltip="Animals"></i>
            </div>
        <hr>
        <p>common friends</p>
        <div class="yld-friends-list-item-common-users">
            <img class="yld-friends-list-item-common-users-item" src="assets/img/faces/kaci-baum-2.jpg" alt="..." placement="bottom" ngbPopover="Friend Name 1"/>
            <img class="yld-friends-list-item-common-users-item" src="assets/img/faces/clem-onojeghuo-3.jpg" placement="bottom" ngbPopover="Friend Name 2" alt="..."/>
            <img class="yld-friends-list-item-common-users-item" src="assets/img/faces/erik-lucatero-2.jpg" placement="bottom" ngbPopover="Friend Name 3" alt="..."/>
            <img class="yld-friends-list-item-common-users-item" src="assets/img/faces/joe-gardner-2.jpg" placement="bottom" ngbPopover="Friend Name 4" alt="..."/>
        </div>
    </div>
    <div class="col-md-3">
        <div class="yld-friends-list-item-buttons-container">
            <button class="btn btn-outline-default btn-round">
                <i class="fa fa-plus-circle"></i>
                <span>Add friend</span>
            </button> 
        </div>
    </div>
</div>
