.yld-card {
    cursor: pointer;
    width: 360px;
    height: 360px;
    .nc-icon {
        background-color: rgba(255, 255, 255, 0.6);
    }
    .yld-icon-selected {
        background-color: rgba(85, 210, 212, 0.6);
    }
}

.card.yld-card.yld-card-sm {
    width: 180px;
    height: 240px;

    .card-body {
        min-height: 100%;
        padding: 0;
        .card-icon {
            margin-top: 8px;
            padding: 4px;
            i {
                height: 60px;
                width: 60px;
                line-height: 56px;
                font-size: 28px;
            }
        }
    }
}
