<div class="card no-transition yld-card" (click)="onSelectClick()" data-background="image" style="background-image: url({{backgroundUrl}})">
    <div *ngIf="selected" class="filter"></div>
    <div class="card-body">
        <div class="card-icon" >
            <span class="icon-simple yld-category-icon"><i class="nc-icon nc-{{icon}}" [ngClass]="{'yld-icon-selected': selected }"></i></span>
        </div>
        <h3 class="card-title">{{title}}</h3>
        <p class="card-description">
            {{description}}
        </p>
        <div class="card-footer">
            <button class="btn btn-round btn-lg btn-just-icon" [ngClass]="{'btn-primary': selected, 'btn-neutral': !selected }">
                <i *ngIf="selected" class="nc-icon nc-check-2 yld-icon-selected"></i>
            </button>
        </div>
    </div>
</div>