
@import '../../../assets/scss/paper-kit/variables';

.yld-event-list-item-container {
    background-color: $placeholder-gray;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
}

.yld-event-list-item-avatar {
    max-width: 90px;
    &-container {
        display: flex;
        justify-content: center;
        margin: auto auto;
        height: 100%;
    }

    &-user-list {
        display: inline-block;
        padding-left: 20px;
    }

    &-user {
        display: inline-block;
        width: 30px;
        border-radius: 50%;
        margin-left: -10px;
    }

    &-creator {
        max-width: 50px;
        border-radius: 50%;
        margin: 10px;
    }
}

.yld-event-list-item-title {
    font-weight: 900;
    color: $yld-color-primary;
}

.yld-event-list-item-description {
    color: $yld-color-secondary;
    font-weight: 400;
    padding: 10px;
}

.yld-event-list-item-location {
    color: $black-hr;
    padding: 10px;

    &-icon {
        font-size: 2.5em;
        margin: 0 10px;
    }

    &-address {
        font-weight: 400;
        margin: 0 10px;
        text-decoration: underline;
        color: $black-hr;

    }
    &-time, &-date {
        font-weight: 400;
        margin: 0 10px;
        text-decoration: underline;
        color: $black-hr;
    }
}

.yld-event-list-item-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.yld-event-list-item-button {
    color: $black-hr;
    padding: 1em;
    font-size: 2em;

    &:hover {
        background-color: $yld-color-primary;
        color: $white-color;
    }
}