
<div class="row yld-event-list-item-container">
    <div class="col-md-2 yld-event-list-item-avatar-container">
        <img class="yld-event-list-item-avatar" src="assets/img/sport-svgrepo-com.svg" alt="..."/>
    </div>
    <div class="col-md-7">
        <h3 class="yld-event-list-item-title">Футбол в коробке</h3>
        <h5 class="yld-event-list-item-description">Нужны 12 человек...</h5>
        <div class="yld-event-list-item-location">
            <i class="fa fa-map-marker yld-event-list-item-location-icon" aria-hidden="true"></i>
            <a href=""><span class="yld-event-list-item-location-address">стадион им.Лобановского</span></a>
            <a href=""><span class="yld-event-list-item-location-time">17:00</span></a>
            <a href=""><span class="yld-event-list-item-location-date">22.06.2020</span></a>
        </div>
        <img class="yld-event-list-item-avatar-creator" src="assets/img/faces/clem-onojeghuo-2.jpg" alt="..."/>
        <div class="yld-list-item-avatar-user-list">
            <span class="yld-list-item-avatar-user"><img src="assets/img/faces/kaci-baum-2.jpg" alt="..." placement="bottom" ngbPopover="Friend Name 1"/></span>
            <span class="yld-list-item-avatar-user"><img src="assets/img/faces/clem-onojeghuo-3.jpg" placement="bottom" ngbPopover="Friend Name 2" alt="..."/></span>
            <span class="yld-list-item-avatar-user"><img src="assets/img/faces/erik-lucatero-2.jpg" placement="bottom" ngbPopover="Friend Name 3" alt="..."/></span>
            <span class="yld-list-item-avatar-user"><img src="assets/img/faces/joe-gardner-2.jpg" placement="bottom" ngbPopover="Friend Name 4" alt="..."/></span>
        </div>
        <span> - 8 человек</span>
    </div>
    <div class="col-md-3">
        <div class="text-center align-middle yld-event-list-item-buttons-container">
            <a href="javascript:void(0)" class="yld-event-list-item-button"><i class="nc-icon nc-favourite-28"></i></a>
            <a href="javascript:void(0)" class="yld-event-list-item-button"><i class="nc-icon nc-simple-add"></i></a>
            <a href="javascript:void(0)" class="yld-event-list-item-button"><i class="nc-icon nc-simple-remove"></i></a>
        </div>
    </div>
</div>