@import "../../../assets/scss/paper-kit/variables";
.page-header {
    max-height: 20vh;
    height: 20vh;

    .yld-change-image-small {
        position: relative;
        top: 85%;
        left: 85%;
        display: none;
        visibility: hidden;
    }

    .yld-change-image-big {
        position: relative;
        top: 85%;
        left: 85%;
        display: block;
        visibility: visible;
    }
}
.yld-profile {
    &_description {
        &-pref {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            width: 100%;

            &-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 25%;
                height: 90px;
                &:hover {
                    color: $yld-color-secondary;
                    font-size: 1.1em;
                }
                .fa {
                    width: auto;
                    font-size: 2em;
                    margin-bottom: 15px;
                }
            }
        }
    }
    &-edit-place-item {
        .fa-map-marker {
            margin: 0 8px;
            font-size: 24px;
        }
        &-title {
            font-size: 1.2em;
        }
        &-actions {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            button i {
                font-size: 24px;
            }
        }
    }
}

.yld-profile-edit-preference-container {
    button {
        margin-left: 16px;
    }

    i {
        font-size: large;
    }
}

.yld-profile-edit-places-container {
    button {
        margin-left: 16px;
    }
}

.yld-settings-date-selector {
    span {
        margin-left: 8px;
    }
}

.yld-privacy-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 8px;
}

@media (max-width: 786px) {
    .page-header {
        .yld-change-image-small {
            display: block;
            visibility: visible;
        }
        .yld-change-image-big {
            display: none;
            visibility: hidden;
        }
    }
}
