<div class="wrapper">
    <div class="page-header page-header-xs settings-background" [style.background-image]="backgroundImage">
        <div class="yld-change-image-big">
            <button class="btn btn-danger btn-file btn-round" (click)="handleClick()">
                <i class="fa fa-image"></i>&nbsp;Change
            </button>
        </div>
        <div class="yld-change-image-small">
            <button class="btn btn-danger btn-just-icon" (click)="handleClick()">
                <i class="fa fa-3x fa-edit"></i>
            </button>
        </div>
    </div>
    <div class="profile-content section">
        <div class="container">
            <div class="row">
                <div class="profile-picture">
                    <app-image-upload [image]="'./assets/img/faces/clem-onojeghuo-2.jpg'"></app-image-upload>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <form class="settings-form" [formGroup]="form">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        [ngClass]="{ 'form-control-danger': isInvalid(form.get('firstName')) }"
                                        placeholder="First Name"
                                        formControlName="firstName"
                                    />
                                    <div class="yld-errors-container">
                                        <div
                                            *ngFor="let validation of validation_messages.firstName"
                                            class="yld-register-invalid"
                                        >
                                            <span
                                                *ngIf="
                                                    form.get('firstName').hasError(validation.type) &&
                                                    (form.get('firstName').dirty || form.get('firstName').touched)
                                                "
                                                >{{ validation.message }}</span
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        [ngClass]="{ 'form-control-danger': isInvalid(form.get('lastName')) }"
                                        placeholder="Last Name"
                                        formControlName="lastName"
                                    />
                                    <div class="yld-errors-container">
                                        <div
                                            *ngFor="let validation of validation_messages.lastName"
                                            class="yld-register-invalid"
                                        >
                                            <span
                                                *ngIf="
                                                    form.get('lastName').hasError(validation.type) &&
                                                    (form.get('lastName').dirty || form.get('lastName').touched)
                                                "
                                                >{{ validation.message }}</span
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="yld-profile-edit-contacts-container yld-profile-edit-item-container">
                        <div class="d-flex flex-row justify-content-between">
                                <h6>Contacts<span class="icon-danger">*</span></h6>
                                <div class="yld-privacy-container">
                                    <app-privacy-selector
                                        [property]="'contacts'"
                                        (onPrivacySelected)="onPrivacySet($event)"
                                    ></app-privacy-selector>
                                </div>
                            </div>
                            <div class="form-group">
                                <label><i class="fa fa fa-envelope-o mr-2"></i>Email</label>
                                <input
                                    type="email"
                                    class="form-control"
                                    placeholder="your@email.com"
                                    formControlName="email"
                                    [ngClass]="{ 'form-control-danger': isInvalid(form.get('email')) }"
                                />
                                <div class="yld-errors-container">
                                    <div
                                        *ngFor="let validation of validation_messages.email"
                                        class="yld-register-invalid"
                                    >
                                        <span
                                            *ngIf="
                                                form.get('email').hasError(validation.type) &&
                                                (form.get('email').dirty || form.get('email').touched)
                                            "
                                            >{{ validation.message }}</span
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label><i class="fa fa-mobile mr-2"></i>Phone</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            [ngClass]="{ 'form-control-danger': isInvalid(form.get('phone')) }"
                                            placeholder="+380 xx xxx xxxx"
                                            formControlName="phone"
                                        />
                                        <div class="yld-errors-container">
                                            <div
                                                *ngFor="let validation of validation_messages.phone"
                                                class="yld-register-invalid"
                                            >
                                                <span
                                                    *ngIf="
                                                        form.get('phone').hasError(validation.type) &&
                                                        (form.get('phone').dirty || form.get('phone').touched)
                                                    "
                                                    >{{ validation.message }}</span
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label><i class="fa fa-facebook mr-2"></i>Facebook page</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            [ngClass]="{ 'form-control-danger': isInvalid(form.get('facebook')) }"
                                            placeholder="https://www.facebook.com/"
                                            formControlName="facebook"
                                        />
                                        <div class="yld-errors-container">
                                            <div
                                                *ngFor="let validation of validation_messages.facebook"
                                                class="yld-register-invalid"
                                            >
                                                <span
                                                    *ngIf="
                                                        form.get('facebook').hasError(validation.type) &&
                                                        (form.get('facebook').dirty || form.get('facebook').touched)
                                                    "
                                                    >{{ validation.message }}</span
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label><i class="fa fa-globe mr-2"></i>Your website</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    [ngClass]="{ 'form-control-danger': isInvalid(form.get('website')) }"
                                    placeholder="https://www.yoursite.com"
                                    formControlName="website"
                                />
                                <div class="yld-errors-container">
                                    <div
                                        *ngFor="let validation of validation_messages.website"
                                        class="yld-register-invalid"
                                    >
                                        <span
                                            *ngIf="
                                                form.get('website').hasError(validation.type) &&
                                                (form.get('website').dirty || form.get('website').touched)
                                            "
                                            >{{ validation.message }}</span
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group yld-profile-edit-item-container yld-event-birthdate-container">
                            <div class="d-flex flex-row justify-content-between">
                                <h6>Birth Date <span class="icon-danger">*</span></h6>
                                <div class="yld-privacy-container">
                                    <app-privacy-selector
                                        [property]="'places'"
                                        (onPrivacySelected)="onPrivacySet($event)"
                                    ></app-privacy-selector>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center input-group yld-settings-date-selector">
                                <button
                                    type="button"
                                    class="btn btn-primary btn-just-icon"
                                    (click)="showDatetimepickerModal()"
                                >
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </button>
                                <span>
                                    {{ form.get("birthDate").value | date: "dd MMMM yyyy" }}
                                </span>
                            </div>
                            <div class="yld-errors-container">
                                <div *ngFor="let validation of validation_messages.birthDate" class="yld-error">
                                    <span
                                        class="yld-error-message"
                                        *ngIf="
                                            form.get('birthDate').hasError(validation.type) &&
                                            form.get('birthDate').touched
                                        "
                                        >{{ validation.message }}</span
                                    >
                                </div>
                            </div>
                        </div>

                        <div class="yld-profile-edit-item-container yld-profile-edit-description-container form-group">
                            <div class="d-flex flex-row align-items-center justify-content-between">
                                <h6>Tell about yourself</h6>
                                <div class="yld-privacy-container">
                                    <app-privacy-selector
                                        [property]="'description'"
                                        (onPrivacySelected)="onPrivacySet($event)"
                                    ></app-privacy-selector>
                                </div>
                            </div>
                            <textarea
                                formControlName="description"
                                class="form-control textarea-limited"
                                placeholder="Tell something about yourself"
                                rows="3"
                                maxlength="256"
                            ></textarea>
                            <h5>
                                <small>
                                    <span id="textarea-limited-message" class="pull-right"
                                        >{{ 256 - descriptionLength }} characters left</span
                                    >
                                </small>
                            </h5>
                        </div>

                        <div class="yld-profile-edit-item-container yld-profile-edit-preference-container">
                            <div class="d-flex flex-row align-items-baseline justify-content-between">
                                <div class="d-flex align-items-baseline justify-content-start">
                                    <h6>Categories</h6>
                                    <button
                                        ngbTooltip="Edit"
                                        (click)="onCategoriesEditClick()"
                                        class="btn btn-outline-success btn-just-icon"
                                    >
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </div>
                                <div class="yld-privacy-container">
                                    <app-privacy-selector
                                        [property]="'categories'"
                                        (onPrivacySelected)="onPrivacySet($event)"
                                    ></app-privacy-selector>
                                </div>
                            </div>
                            <div class="yld-profile_description-pref">
                                <div *ngFor="let category of categories" class="yld-profile_description-pref-item">
                                    <i class="fa {{ getIcon(category.title) }}" aria-hidden="true"></i>
                                    <p>{{ category.title }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="yld-profile-edit-item-container yld-profile-edit-places-container">
                            <div class="d-flex flex-row align-items-baseline justify-content-between">
                                <div class="d-flex align-items-baseline justify-content-start">
                                    <h6>Places</h6>
                                    <button
                                        ngbTooltip="Add"
                                        (click)="onPlacesAddClick()"
                                        class="btn btn-outline-success btn-just-icon"
                                    >
                                        <i class="fa fa-plus-circle"></i>
                                    </button>
                                </div>
                                <div class="yld-privacy-container">
                                    <app-privacy-selector
                                        [property]="'places'"
                                        (onPrivacySelected)="onPrivacySet($event)"
                                    ></app-privacy-selector>
                                </div>
                            </div>
                            <ul class="list-group list-unstyled">
                                <li *ngFor="let location of locations">
                                    <div
                                        class="yld-profile-edit-place-item d-flex justify-content-between align-items-baseline"
                                    >
                                        <i class="fa fa-map-marker"></i>
                                        <label class="yld-profile-edit-place-item-title text-center">{{
                                            location.title
                                        }}</label>
                                        <div class="yld-profile-edit-place-item-actions">
                                            <button
                                                class="btn btn-just-icon btn-link"
                                                (click)="onPlaceEditClick(location)"
                                                ngbTooltip="Edit"
                                            >
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button
                                                class="btn btn-just-icon btn-link"
                                                (click)="onPlaceRemoveClick(location)"
                                                ngbTooltip="Remove"
                                            >
                                                <i class="fa fa-remove"></i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-wd btn-info btn-round">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
