<div class="page-header">
    <!-- <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('./assets/img/sections/uriel-soberanes.jpg')"> -->
    <div class="page-header-image rellax-header yld-confirmation_background" data-rellax-speed="-7">
      <div class="filter"></div>
      <div class="content-center">
          <div class="motto">
              <h1 class="title-uppercase text-center">WELLCOME!</h1>
              <h3 class="text-center">The link to confirm your registration has been sent! Please check your email.</h3>
              <br/>
          </div>
          <div class="uil-reload-css reload-background">
            <div></div>
          </div>
      </div>
  </div>
</div>
