@import '../../../assets/scss/paper-kit/variables';
.yld-register_success {
    text-align: center;

    &-title {
        font-size: 3em;
        padding-top: 20%
    }
    &-text {
        font-size: 2em;
        padding-bottom: 25px;
    }
}