@import "../../../assets/scss/paper-kit/variables";
.yld-privacy-container{
    justify-self: flex-end;
}
.page-header {
    max-height: 20vh;
    height: 20vh;
}
.yld-profile {
    &_description {
        &-pref {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            width: 100%;

            &-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 25%;
                height: 90px;
                &:hover {
                    color: $yld-color-secondary;
                    font-size: 1.1em;
                }
                .fa {
                    width: auto;
                    font-size: 2em;
                    margin-bottom: 15px;
                }
            }
        }
    }
    &-edit-place-item {
        .fa-map-marker {
            margin: 0 8px;
            font-size: 24px;
        }
        &-title {
            font-size: 1.2em;
        }
        &-actions {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            button i {
                font-size: 24px;
            }
        }
    }
}

.yld-profile-edit-preferences-container {
    i {
        font-size: large;
    }
}

.yld-settings-date-selector {
    span {
        margin-left: 8px;
    }
}
