<div class="yld-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto">
                <div class="header">
                    <h2>Settings</h2>
                </div>
                <app-tabs>
                    <app-tab [tabTitle]="'Password'">
                        <form (ngSubmit)="onPasswordSubmit()" [formGroup]="passwordForm">
                            <div class="form-group">
                                <label for="CurrentPassword">Current Password</label>
                                <input
                                    id="CurrentPassword"
                                    class="form-control"
                                    type="password"
                                    name="currentPassword"
                                    [formControlName]="'currentPassword'"
                                />
                                <app-control-messages
                                    title="Current password"
                                    [control]="passwordForm.get('currentPassword')"
                                ></app-control-messages>
                            </div>
                            <div class="row" formGroupName="passwordsGroup">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="newPassword">New Password</label>
                                        <input
                                            type="password"
                                            class="form-control form-control"
                                            name="newPassword"
                                            id="newPassword"
                                            aria-describedby="newPasswordId"
                                            placeholder=""
                                            [formControlName]="'newPassword'"
                                        />
                                        <app-control-messages
                                            title="New password"
                                            [control]="passwordForm.get('passwordsGroup').get('newPassword')"
                                        ></app-control-messages>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="confirmPassword">Confirm new password</label>
                                        <input
                                            type="password"
                                            class="form-control form-control"
                                            name="confirmPassword"
                                            id="confirmPassword"
                                            aria-describedby="confirmPasswordId"
                                            placeholder=""
                                            [formControlName]="'confirmPassword'"
                                        />
                                        <app-control-messages
                                            title="Confirm password"
                                            [control]="passwordForm.get('passwordsGroup').get('confirmPassword')"
                                        ></app-control-messages>
                                    </div>
                                </div>
                            </div>
                            <button type="button" [disabled]="passwordForm.invalid" class="btn btn-primary">
                                Change Password
                            </button>
                        </form>
                    </app-tab>
                    <app-tab [tabTitle]="'Contacts'">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <form form="emailForm" [formGroup]="emailForm">
                                        <div class="form-group">
                                            <label for="currentEmail">Current Email</label>
                                            <input
                                                type="email"
                                                name="currentEmail"
                                                id="currentEmail"
                                                placeholder="your@email.com"
                                                class="form-control"
                                                aria-describedby="currentEmailId"
                                                formControlName="currentEmail"
                                            />
                                            <app-control-messages
                                                title="Email"
                                                [control]="emailForm.get('currentEmail')"
                                            ></app-control-messages>
                                        </div>
                                        <div class="form-group">
                                            <label for="newEmail">New Email</label>
                                            <input
                                                id="newEmail"
                                                class="form-control"
                                                type="email"
                                                name="newEmail"
                                                placeholder="your@email.com"
                                                formControlName="newEmail"
                                            />
                                            <app-control-messages
                                                title="New email"
                                                [control]="emailForm.get('newEmail')"
                                            ></app-control-messages>
                                        </div>
                                        <button type="submit" [disabled]="emailForm.invalid" class="btn btn-primary">Change Email</button>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <form form="phoneForm" [formGroup]="phoneForm">
                                        <div class="form-group">
                                            <label for="currentPhone">Current phone</label>
                                            <input
                                                type="text"
                                                name="currentPhone"
                                                id="currentPhone"
                                                class="form-control"
                                                aria-describedby="currentPhoneId"
                                                placeholder="+380 xx xxx xxxx"
                                                formControlName="currentPhone"
                                                [validation]="true"
                                                prefix="+380"
                                                mask=" 00 000 0000"
                                            />
                                            <small>Format +380 xx xxx xxxx</small>
                                            <app-control-messages
                                                title="Phone"
                                                [control]="phoneForm.get('currentPhone')"
                                            ></app-control-messages>
                                        </div>
                                        <div class="form-group">
                                            <label for="newPhone">New phone</label>
                                            <input
                                                id="newPhone"
                                                formControlName="newPhone"
                                                class="form-control"
                                                placeholder="+380 xx xxx xxxx"
                                                [validation]="true"
                                                prefix="+380"
                                                mask=" 00 000 0000"
                                                type="phone"
                                                name="newPhone"
                                            />
                                            <small>Format +380 xx xxx xxxx</small>
                                            <app-control-messages
                                                title="New phone"
                                                [control]="phoneForm.get('newPhone')"
                                            ></app-control-messages>
                                        </div>
                                        <button type="submit" [disabled]="phoneForm.invalid" (click)="onPhoneSubmit()" class="btn btn-primary">Change phone</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </app-tab>
                </app-tabs>
            </div>
        </div>
    </div>
</div>
