@import "../../../assets/scss/paper-kit/variables";

.yld-page-header-small {
    background-image: url('../../../assets/img/sections/bg-profile-mountains.jpg');
}
.yld-profile {
    &_description {
        &-pref {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            width: 100%;

            &-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 25%;
                height: 90px;
                &:hover {
                    color: $yld-color-secondary;
                    font-size: 1.1em;
                }
                .fa {
                    width: auto;
                    font-size: 2em;
                    margin-bottom: 15px;
                }
            }
        }
    }
}
.user-description-text {
    margin-bottom: 10px;

    textarea {
        width: 100%;
        padding: 10px;
        resize: none;
    }

}
.no-margin {
    margin-top: 0;
}
