<div class="wrapper">
    <div class="page-header yld-page-header-small">
        <div class="filter"></div>
    </div>
    <!-- <button class="btn btn-outline-default btn-round yld-profile_btn-settings"><i class="fa fa-cog"></i> Settings</button> -->
    <div class="profile-content section-white-gray">
        <div class="container text-center">
            <div class="row owner">
                <div class="col-md-2 col-sm-4 col-6 ml-auto mr-auto text-center">
                    <div class="avatar">
                        <img
                            src="./assets/img/faces/joe-gardner-2.jpg"
                            alt="Circle Image"
                            class="img-circle img-responsive"
                        />
                        <button class="btn btn-outline-default btn-round">
                            <i class="fa fa-plus-circle"></i><span>Follow</span>
                        </button>
                    </div>
                    <div class="name">
                        <h4 class="text-center">Chet Faker</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p class="mt-2 mb-2">
                        Today is a good day to do smth together
                        <!-- <a class="link-danger twitter-hashtag" href="javascript: void(0);">#ANTIdiaRy</a> — <a href="javascript: void(0);">http://smarturl.it</a> -->
                    </p>
                    <div class="description-details">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker mr-2"></i>Chernihiv, Ukraine</li>
                            <li>
                                <i class="fa fa-mobile mr-2"></i> <a href="tel:+38-093-123-45-67">+38-093-123-45-67</a>
                            </li>
                            <li>
                                <i class="fa fa fa-envelope-o mr-2"></i>
                                <a href="mailto:coolmail@gmail.com">coolmail@gmail.com</a>
                            </li>
                            <li><i class="fa fa-link mr-2"></i> <a href="javascript:void(0);">rihanna.com</a></li>
                            <li><i class="fa fa-circle mr-2"></i> 29 years</li>
                            <li><i class="fa fa-calendar mr-2"></i> Joined October 2009</li>
                            <li class="mt-2">
                                <i class="fa fa-pencil mr-2"></i> An artist of considerable range, Chet Faker — the
                                name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and
                                records all of his own music, giving it a warm, intimate feel with a solid groove
                                structure.
                            </li>
                            <hr />
                            <li class="mt-2 text-left">
                                <i class="fa fa-heart mr-2"></i><span> Preferences:</span>
                                <div class="yld-profile_description-pref">
                                    <div class="yld-profile_description-pref-item">
                                        <i class="fa fa-futbol-o" aria-hidden="true"></i>
                                        <p>Football</p>
                                    </div>
                                    <div class="yld-profile_description-pref-item">
                                        <i class="fa fa-bicycle" aria-hidden="true"></i>
                                        <p>Bicycle</p>
                                    </div>
                                    <div class="yld-profile_description-pref-item">
                                        <i class="fa fa-gamepad" aria-hidden="true"></i>
                                        <p>Gaming</p>
                                    </div>
                                    <div class="yld-profile_description-pref-item">
                                        <i class="fa fa-globe" aria-hidden="true"></i>
                                        <p>Travelling</p>
                                    </div>
                                    <div class="yld-profile_description-pref-item">
                                        <i class="fa fa-beer" aria-hidden="true"></i>
                                        <p>Beer</p>
                                    </div>
                                    <div class="yld-profile_description-pref-item">
                                        <i class="fa fa-paw" aria-hidden="true"></i>
                                        <p>Animals</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Friends">
                            <ng-template ngbTabContent>
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-3">
                                                        <img
                                                            src="./assets/img/faces/clem-onojeghuo-3.jpg"
                                                            alt="Circle Image"
                                                            class="img-circle img-no-padding img-responsive"
                                                        />
                                                    </div>
                                                    <div class="col-md-7 col-4">
                                                        <h6>Lincoln<br /><small>Car Producer</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-2">
                                                        <div class="unfollow">
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    <input
                                                                        class="form-check-input"
                                                                        type="checkbox"
                                                                        value=""
                                                                        checked
                                                                    />
                                                                    <span class="form-check-sign"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-3">
                                                        <img
                                                            src="./assets/img/faces/erik-lucatero-2.jpg"
                                                            alt="Circle Image"
                                                            class="img-circle img-no-padding img-responsive"
                                                        />
                                                    </div>
                                                    <div class="col-md-7 col-4">
                                                        <h6>Banks<br /><small>Singer</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-2">
                                                        <div class="unfollow">
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    <input
                                                                        class="form-check-input"
                                                                        type="checkbox"
                                                                        value=""
                                                                    />
                                                                    <span class="form-check-sign"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Events">
                            <ng-template ngbTabContent>
                                <h3 class="text-muted">Not following anyone yet :(</h3>
                                <br />
                                <button class="btn btn-warning btn-round">Find artists</button>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
