@import "../../../assets/scss/paper-kit/variables";

.yld-page-header-small {
    background-image: url('../../../assets/img/sections/rodrigo-ardilha.jpg');
}
.yld-profile {
    &_name {
        margin-bottom: 20px;
    }

    &_picture {
        text-align: center;
        margin-top: -75px;
    }

    &_btn-settings {

    }

    &_description {
        &-item {
            display: flex;
            width: 100%;
            text-align: left;
            border: 1px solid $yld-color-primary;
            border-radius: 10px;
            padding: 15px;
            margin: 5px 0;

            &-icon {
                font-size: 1.2em;
                margin-right: 20px;
                color: $yld-color-secondary;
            }
        }
        &-pref {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            width: 100%;

            &-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 25%;
                height: 90px;
                &:hover {
                    color: $yld-color-secondary;
                    font-size: 1.1em;
                }
                

                .fa {
                    width: auto;
                    font-size: 2em;
                    margin-bottom: 15px;
                }
            }

        }
    }
}