<div class="container">
    <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
            <h2 class="title">Pick the best plan for you</h2>
            <h5 class="description">You have Free Unlimited Updates and Premium Support on each package.</h5>
            <br>
            <ngb-tabset type="pills" class="nav nav-pills nav-pills-danger justify-content-center">
                <ngb-tab title="Monthly">
                    <ng-template ngbTabContent>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Yearly">
                    <ng-template ngbTabContent>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
    <div class="space-top"></div>

    <div class="row">
        <div class="col-md-4">
            <div class="card card-pricing" data-background="image" style="background-image: url('assets/img/sections/daniel-olahh.jpg')">
                <div class="card-body">
                    <h6 class="card-category">Free</h6>
                    <h1 class="card-title"><small>$</small>0<small>/mo</small></h1>
                    <ul>
                        <li><b>5</b> Sharing Tools</li>
                        <li><b>10</b> Design Tools</li>
                        <li><b>100</b> Private Messages</li>
                        <li><b>2</b> Personal Brand</li>
                    </ul>
                    <a href="javascript:void(0)" class="btn btn-warning btn-round ">
                        Get Started
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-pricing" data-background="image" style="background-image: url('assets/img/sections/forest-bg.jpg')">
                <div class="card-body">
                    <h6 class="card-category">Premium</h6>
                    <h1 class="card-title"><small>$</small>89<small>/mo</small></h1>
                    <ul>
                        <li><b>100</b> Projects</li>
                        <li><b>5</b> Team Members</li>
                        <li><b>55</b> Personal Contacts</li>
                        <li><b>5.000</b> Messages</li>
                    </ul>
                    <a href="javascript:void(0)" class="btn btn-success btn-round">
                        Get Started
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-pricing" data-background="image" style="background-image: url('assets/img/sections/anders-jilden.jpg')">
                <div class="card-body">
                    <h6 class="card-category">Platinum</h6>
                    <h1 class="card-title"><small>$</small>199<small>/mo</small></h1>
                    <ul>
                        <li><b>1</b> Project</li>
                        <li><b>5</b> Team Members</li>
                        <li><b>55</b> Personal Contacts</li>
                        <li><b>5.000</b> Messages</li>
                    </ul>
                    <a href="javascript:void(0)" class="btn btn-danger btn-round ">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>