.yld-search {
    &-form {
        width: 100%;
    }

    &-bar-container {
        font-size: 2em;
        width: 100%;
        padding: 20px 40px;
        text-align: left;
    }

    &-bar-input {
        border: none;
        margin-left: 1em;
        width: 90%;

        &:focus {
            outline: none;
        }
    }
}

@media (max-width: 600px) {
    .yld-search-bar {
        &-input {
            max-width: 200px;
        }
        &-container {
            padding: 20px;
        }
    }
}
