
<div class="nav nav-pills nav-pills-danger yld-feed-tabs-container">
    <ul role="tablist" class="nav nav-pills js-yld-tabs">
        <li class="nav-item">
            <a class="nav-link js-yld-tab-item active" href role="tab" data-tab-number="tab1"> One</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-yld-tab-item" href role="tab" data-tab-number="tab2"> Two</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-yld-tab-item" href role="tab" data-tab-number="tab3"> Three</a>
        </li>
    </ul>
</div>