.yld-search {
  &-form {
      width: 100%;
      padding: 10px;
  }

  &-bar-conatiner {
      font-size: 2em;
      // margin: 0 auto;
      margin: 20px 40px;
  }

  &-bar-input {
      border: none;
      margin-left: 1em;
      width: 90%;

      &:focus {
          outline: none;
      }
  }
}

.yld-fa-search {
  margin-left: 1em;
}