<ng-template #resultTemplate let-r="result" let-t="term">
    <ngb-highlight [result]="r.title" [term]="t"></ngb-highlight>
</ng-template>
<fieldset class="form-inline yld-search-form">
    <div class="form-group yld-search-bar-container">
        <i class="fa fa-search"></i>
        <input
            id="typeahead-basic"
            type="text"
            class="yld-search-bar-input"
            placeholder="Start input your place"
            #addresstext
            [ngbTypeahead]="search"
            [inputFormatter]="formatter"
            [resultFormatter]="formatter"
            [resultTemplate]="resultTemplate"
            (selectItem)="onPlaceChanged($event, addresstext)"

        />
    </div>
</fieldset>
