.yld-search {
  &-form {
      width: 100%;
      padding: 10px; 
  }

  &-bar-conatiner {
      font-size: 2em;
      margin: 20px 40px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
  }

  &-bar-input {
      border: none;
      border-radius: 12px;
      margin-left: 1em;
      width: 90%;
      padding: 16px;

      &:focus {
          outline: none;
      }
  }
}

.yld-fa-search {
  margin-left: 1em;
}