    <div class="container">
        <img class="yld-login_bg-logo" src="../../../assets/img/sections/landing/y-logo.png" alt="Y'alldoo">
        <div class="row">
            <div class="col-lg-5 col-md-7 col-sm-9 ml-auto mr-auto">
                <div class="yld-register_card">
                    <h3 class="card-title">Login</h3>
                    <div class="social">
                        <div
                            class="fb-login-button"
                            data-size="medium"
                            data-button-type="continue_with"
                            data-layout="default"
                            data-auto-logout-link="false"
                            data-use-continue-as="false"
                            data-width=""
                        ></div>
                    </div>
                    <div class="card-title">or</div>
                    <form [formGroup]="form" class="yld-register_form">
                        <input
                            type="email"
                            class="form-control"
                            [ngClass]="{ 'form-control-danger': isInvalid(form.get('email')) }"
                            placeholder="Email"
                            formControlName="email"
                        />
                        <div class="yld-control-message-block">
                            <app-control-messages title="Email" [control]="form.get('email')"></app-control-messages>
                        </div>
                        <input
                            type="password"
                            class="form-control"
                            [ngClass]="{ 'form-control-danger': isInvalid(form.get('password')) }"
                            placeholder="Password"
                            formControlName="password"
                        />
                        <div class="yld-control-message-block">
                            <app-control-messages title="Password" [control]="form.get('password')"></app-control-messages>
                        </div>
                        <button class="btn btn-block btn-round yld-register_btn" (click)="onSubmit()" [disabled]="form.invalid">
                            Login
                        </button>
                    </form>
                    <div class="forgot">
                        <a [routerLink]="['/forgot']" class="btn btn-link yld-forgot-link">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
