<nav class="navbar navbar-expand-lg fixed-top nav-down" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <div class="navbar-header">
                <a class="navbar-brand" [routerLink]="['/']">Y'alldoo</a>
            </div>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a class="nav-link" [routerLink]="['/team']">About Us</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/contactus']">Contacts</a></li>

                <div ngbDropdown class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" ngbDropdownToggle>MVP Pages</div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-danger">
                        <a class="dropdown-item" [routerLink]="['/register']"><i class="nc-icon nc-bookmark-2"></i>&nbsp; Register Page</a>
                        <a class="dropdown-item" [routerLink]="['/login']"><i class="nc-icon nc-lock-circle-open"></i>&nbsp; Login Page</a>
                        <a class="dropdown-item" [routerLink]="['/preferences']"><i class="nc-icon nc-bank"></i>&nbsp; Preferences</a>
                        <a class="dropdown-item" [routerLink]="['/feed']"><i class="nc-icon nc-bank"></i>&nbsp; Feed</a>
                        <a class="dropdown-item" [routerLink]="['/event']"><i class="nc-icon nc-bank"></i>&nbsp; Event</a>
                        <a class="dropdown-item" [routerLink]="['/create']"><i class="nc-icon nc-bank"></i>&nbsp; Create Event</a>
                        <a class="dropdown-item" [routerLink]="['/about']"><i class="nc-icon nc-badge"></i>&nbsp; About</a>
                        <a class="dropdown-item" [routerLink]="['/contactus']"><i class="nc-icon nc-mobile"></i>&nbsp; Contact Us</a>
                        <a class="dropdown-item" [routerLink]="['/team']"><i class="nc-icon nc-bank"></i>&nbsp; Team</a>
                        <a class="dropdown-item" [routerLink]="['/profile']"><i class="nc-icon nc-single-02"></i>&nbsp; Profile Page</a>
                        <a class="dropdown-item" [routerLink]="['/me']"><i class="nc-icon nc-settings-gear-65"></i>&nbsp; My Profile</a>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>
