<div class="wrapper full-screen register-page">
    <div class="page-header" style="background-image: url('./assets/img/sections/soroush-karimi.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-7 col-sm-9 ml-auto mr-auto">
                    <div class="card card-register">
                        <h3 class="card-title text-center">Register</h3>
                        <div class="social">
                            <button class="btn btn-just-icon btn-facebook mr-1"><i class="fa fa-facebook"></i></button>
                        </div>
                        <div class="division">
                            <div class="line l"></div>
                            <span>or</span>
                            <div class="line r"></div>
                        </div>
                        <form class="register-form" [formGroup]="form" #registerForm (submit)="formSubmit($event)">
                            <input
                                type="text"
                                class="form-control"
                                [ngClass]="{ 'form-control-danger': isInvalid(form.get('name')) }"
                                placeholder="Name"
                                formControlName="name"
                            />
                            <app-control-messages title="Name" [control]="form.get('name')"></app-control-messages>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Email"
                                formControlName="email"
                                [ngClass]="{ 'form-control-danger': isInvalid(form.get('email')) }"
                            />
                            <app-control-messages title="Email" [control]="form.get('email')"></app-control-messages>
                            <div formGroupName="matchingPasswordsGroup">
                                <input
                                    type="password"
                                    class="form-control"
                                    placeholder="Password"
                                    formControlName="password"
                                    [ngClass]="{
                                        'form-control-danger': isInvalid(
                                            form.get('matchingPasswordsGroup').get('password')
                                        )
                                    }"
                                />
                                <app-control-messages
                                    title="Password"
                                    [control]="form.get('matchingPasswordsGroup').get('password')"
                                ></app-control-messages>
                                <input
                                    type="password"
                                    class="form-control"
                                    placeholder="Confirm Password"
                                    formControlName="confirmPassword"
                                    [ngClass]="{
                                        'form-control-danger': isInvalid(
                                            form.get('matchingPasswordsGroup').get('confirmPassword')
                                        )
                                    }"
                                />
                                <app-control-messages
                                    [title]="'Confirm password'"
                                    [control]="form.get('matchingPasswordsGroup').get('confirmPassword')"
                                ></app-control-messages>
                                <app-control-messages
                                    [title]=""
                                    [control]="form.get('matchingPasswordsGroup')"
                                ></app-control-messages>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        value=""
                                        formControlName="acceptAgreement"
                                    />
                                    <span class="form-check-sign"></span>
                                    <span class="yld-register-check-agreement-label">Accept agreement*</span>
                                </label>
                            </div>
                            <app-control-messages
                                title="Accept Agreement"
                                [control]="form.get('acceptAgreement')"
                            ></app-control-messages>
                            <button class="btn btn-block btn-round" type="submit" [disabled]="form.invalid">
                                Register
                            </button>
                        </form>
                        <div class="login">
                            <p>
                                Already have an account?
                                <a [routerLink]="['/login']" routerLinkActive="login">Log in</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
