.register-form{
    .form-control{
        border: 1px solid #CCC5B9 !important;
        &.form-control-danger{
            border-color: #dc3545 !important;
            color: #dc3545;
        }    
    }
}
.yld-register-check-agreement-label {
    color: #403d39;
    font-weight: 600;
}

.yld-register-invalid {
    width: 100%;
    margin-top: 0.25rem;
    color: #dc3545;
    margin-bottom: 8px;
}
