
<div class="container">
    <img class="yld-register_bg-logo" src="../../../assets/img/sections/landing/y-logo.png" alt="Y'alldoo">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7 col-sm-9 ml-auto mr-auto">
            <div class="yld-register_card">
                <h3 class="card-title">Register</h3>
                <div class="social">
                    <div
                        class="fb-login-button"
                        data-size="medium"
                        data-button-type="continue_with"
                        data-layout="default"
                        data-auto-logout-link="false"
                        data-use-continue-as="false"
                        data-width=""
                    ></div>
                </div>
                <div class="card-title">or</div>
                <form class="yld-register_form" [formGroup]="form" #registerForm>
                    <input
                        type="text"
                        class="form-control"
                        [ngClass]="{ 'form-control-danger': isInvalid(form.get('name')) }"
                        placeholder="Name"
                        formControlName="name"
                    />
                    <div class="yld-control-message-block">
                        <app-control-messages title="Name" [control]="form.get('name')"></app-control-messages>
                    </div>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Email"
                        formControlName="email"
                        [ngClass]="{ 'form-control-danger': isInvalid(form.get('email')) }"
                    />
                    <div class="yld-control-message-block">
                        <app-control-messages title="Email" [control]="form.get('email')"></app-control-messages>
                    </div>
                    <div class="yld-select-city-component">
                        <app-city-select
                            [title]="'Select your city'"
                            [formControl]="form.get('city')"
                        ></app-city-select>
                        <div class="yld-control-message-block">
                            <app-control-messages title="City" [control]="form.get('city')"></app-control-messages>
                        </div>
                    </div>
                    <div formGroupName="matchingPasswordsGroup">
                        <input
                            type="password"
                            class="form-control"
                            placeholder="Password"
                            formControlName="password"
                            [ngClass]="{
                                'form-control-danger': isInvalid(
                                    form.get('matchingPasswordsGroup').get('password')
                                )
                            }"
                        />
                        <div class="yld-control-message-block">
                            <app-control-messages
                                title="Password"
                                [control]="form.get('matchingPasswordsGroup').get('password')"
                            ></app-control-messages>
                        </div>
                        <input
                            type="password"
                            class="form-control"
                            placeholder="Confirm Password"
                            formControlName="confirmPassword"
                            [ngClass]="{
                                'form-control-danger': isInvalid(
                                    form.get('matchingPasswordsGroup').get('confirmPassword')
                                )
                            }"
                        />
                        <div class="yld-control-message-block">
                            <app-control-messages
                                [title]="'Confirm password'"
                                [control]="form.get('matchingPasswordsGroup').get('confirmPassword')"
                            ></app-control-messages>
                        </div>
                        <div class="yld-control-message-block">
                            <app-control-messages
                                [title]=""
                                [control]="form.get('matchingPasswordsGroup')"
                            ></app-control-messages>
                        </div>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                formControlName="acceptAgreement"
                            />
                            <span class="form-check-sign"></span>
                            <span class="yld-register-check-agreement-label">
                                Accept*
                                <a
                                    [routerLink]="['/use-terms']"
                                    routerLinkActive="router-link-active"
                                    class="link-info"
                                >
                                    Terms of Service</a
                                >
                                and
                                <a
                                    [routerLink]="['/privacy-policy']"
                                    routerLinkActive="router-link-active"
                                    class="link-info"
                                    >Privacy Policy</a
                                >
                            </span>
                        </label>
                    </div>
                    <div class="yld-control-message-block">
                        <app-control-messages
                            title="Agreement"
                            [control]="form.get('acceptAgreement')"
                        ></app-control-messages>
                    </div>
                    <button class="btn btn-block btn-round" type="submit" (click)="formSubmit($event)" [disabled]="form.invalid">
                        Register
                    </button>
                </form>
                <div class="login">
                    <p>
                        Already have an account?
                        <a [routerLink]="['/login']" routerLinkActive="login">Log in</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
