.yld-register-check-agreement-label{
    color: #403D39;
    font-weight: 600;
}

.yld-register-invalid{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
    margin-bottom: 12px;
}