$font-color:                 #66615b !default;
$fill-font-color:            rgba(255, 255, 255, 0.8);
$font-family-sans-serif:     'Roboto', sans-serif;
$font-family-serif:          'Roboto Slab', serif;

$yld-color-primary:          #ff8124 !important;
$yld-color-secondary:        #0eaae9 !important;

$yld-color-primary-90:          #ff812490 !important;
$yld-color-secondary-90:        #0eaae990 !important;

$black-color:                #333333 !default;
$black-hr:                   #444444 !default;

$light-gray:                 #E3E3E3 !default;
$medium-gray:                #DDDDDD !default;
$dark-gray:                  #9A9A9A !default;