
$yld-color-primary:          #ff8124 !important;
$yld-color-secondary:        #0eaae9 !important;

$yld-color-primary-90:          #ff812490 !important;
$yld-color-secondary-90:        #0eaae990 !important;