.register-form .form-control.form-control-danger{
    border-color: #dc3545 !important;
    color: #dc3545;
}

.yld-register-invalid {
    width: 100%;
    margin-top: 0.25rem;
    color: #dc3545;
    margin-bottom: 8px;
}