<div class="yld-modal-container">
    <div class="modal-header">
        <h5 class="modal-title">Invite Friends</h5>
        <button type="button" class="close" (click)="onCloseClick()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="search-page">
            <div role="search" class="form-inline search-form">
                <div class="input-group no-border">
                    <span class="input-group-addon addon-xtreme no-border" id="basic-addon1"
                        ><i class="fa fa-search"></i
                    ></span>
                    <input
                        type="text"
                        [(ngModel)]="searchTerm"
                        (ngModelChange)="this.searchTermUpdates.next($event)"
                        class="form-control input-xtreme no-border"
                        placeholder="Find Friends"
                        aria-describedby="basic-addon1"
                    />
                </div>
            </div>
        </div>
        <div class="accounts-suggestion">
            <ul class="list-unstyled">
                <li *ngFor="let item of friends" class="account">
                    <div class="row">
                        <div class="col-md-3 col-3">
                            <img
                                src="../assets/img/friends/{{ item.id }}.png"
                                height="55"
                                alt="Circle Image"
                                class="img-circle img-no-padding img-responsive"
                            />
                        </div>
                        <div class="col-md-7 col-4 description">
                            <h5>{{ item.fullName }}</h5>
                        </div>
                        <div class="col-md-2 col-2">
                            <button
                                class="btn btn-just-icon btn-round btn-outline-danger btn-tooltip"
                                rel="tooltip"
                                title=""
                                data-original-title="follow"
                                (click)="onInviteClick(item)"
                            >
                                <i class="fa" [ngClass]="{'fa-plus':!isSelected(item.id), 'fa-minus':isSelected(item.id)}"></i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-link" (click)="onOkayClick()">Okay</button>
        </div>
    </div>
</div>
