<div class="yld-page">
    <div class="page-header" style="background-image: url('./assets/img/sections/bruno-abatti.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-7 col-sm-9 ml-auto mr-auto">
                    <div class="yld-card-event-create">
                        <h3 class="card-title">Create New Event</h3>
                        <form [formGroup]="form" class="form">
                            <label>Title</label>
                            <div class="input-group">
                                <input type="text" placeholder="Title" formControlName="title" class="form-control" />
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-group"></i></span>
                                </div>
                            </div>
                            <label>Description</label>
                            <div class="input-group">
                                <input
                                    type="text"
                                    placeholder="Description"
                                    formControlName="description"
                                    class="form-control"
                                />
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Category</label>

                                <angular2-multiselect
                                    formControlName="category"
                                    [data]="categories"
                                    [settings]="dropdownSettings"
                                    (onSelect)="onItemSelect($event)"
                                    (onDeSelect)="OnItemDeSelect($event)"
                                    (onSelectAll)="onSelectAll($event)"
                                    (onDeSelectAll)="onDeSelectAll($event)"
                                >
                                </angular2-multiselect>
                            </div>
                            
                            <div class="form-group">
                               <button type="button" class="btn btn-success" (click)="showDatetimepickerModal()">
                                   <i class="fa fa-calendar" aria-hidden="true"></i>
                                   <h5>{{dateTime | date: 'HH:mm dd MMMM yyyy':'+0300'}}</h5>
                               </button>
                              </div>
                            <button class="btn btn-block btn-round" type="submit" [disabled]="form.invalid">
                                Create
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>